<h2>カート</h2>
<table>
	<tr>
		<th>商品名</th>
		<th>価格</th>
		<th>数量</th>
	
	</tr>
	<% @cart.cart_items.each do |item| %>
	<tr>
		<td text-align:center;><font size="4"><%= item.product.name %></font></td>
		<td text-align:center;><font size="4"><%= (item.product.price).to_i %>円</font></td>
        <td text-align:center;><font size="4"><%= item.qty %></font></td>
       
        <td><%= link_to '削除', item, method: :delete %></td>
	</tr>
		
	<% end %>
	
</table>


<%= link_to '戻る', root_path %>