<h2>商品一覧</h2>
<table>
	<% @products.each do |good| %>
	<tr>
		<td>
			<p><font size="5">商品名：<%= good.name %></font></p>
			<p><font size="4">価格：<%= good.price %>円</font></p>
		</td>
		<td>
			<%= button_to 'カートに入れる', cart_items_path(product_id: good), class: 'fbtn' %>
			<%= link_to '削除', good, method: :delete %>
		</td>
	</tr>

	<% end %>
</table>


<%= link_to "商品登録", new_product_path %>
<%= link_to "戻る", root_path %>